.call-to-action {
	margin-bottom: 40px;
	.cta-block{
		border-left: 9px solid #0099ff;
		background: #e0e0e0;
		padding:30px 40px 20px 30px;
		h2 {
			font-size: 36px;
			margin: 0 0 5px 0;
			color: #333333;
		}
		p {
			font-size: 18px;
			color: #333333;
		}
		.button {
			float: none !important;
			@include breakpoint(md) {
				float: right !important;
			}
			.btn{
				text-decoration: none;
				color: #e6e6e6;
				font-size: 26px;
				background: #0099ff;
				border-radius: 10px;
				padding: 18px 13px;
				margin: auto;
				display: inline-block;
			} 
		}		
	}
}

