*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Georgia';
	font-size: 13px;	
	color: #666666;
	line-height: 1.5;
}



@media (min-width: 1200px) {
	.container {
	    width: 1000px;
	}

}