//---------------------------------------------------------//
// Custom Variables
//---------------------------------------------------------//


$img-url:							'../../images';

$easing-speed: 						0.25s;
$easing: 							ease-in-out;


